body {
    background-color: #FFCC00;
    /* background-image: url('./img/backimg.jpg'); */

    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    /* font-family: sans-serif; */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    /* background-color: #111; */
    background-image: url('backimg.jpg');
    padding: 0;
  }
  ul.header li a {
    color: darkgoldenrod;
    font-weight: bold;
    text-decoration: underline;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: chocolate;
    /* background-image: url('back4.jpg'); */
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  

  .active {
    background-color:white;
  }

  .back{
    background-color: darkorchid;
       /* background-image: url('./img/back3.jpg'); */
  }